<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}" lang="ru">

<head>
    <title layout:fragment="title">Наличники</title>
</head>

<th:block layout:fragment="content">
    <div class="product-main">
        <div class="separator-with-shadow" style="padding-top: 0;padding-bottom: 0;margin-top: 0;">
            <div class="separator-with-shadow-box" style="margin-top: 0;"></div>
        </div>
        <HEADER class="product-data-title">Наличники</HEADER>
        <div class="separator-with-shadow" style="padding-top: 0;padding-bottom: 0;margin-top: 0;">
            <div class="separator-with-shadow-box" style="margin-top: 0;"></div>
        </div>
        <div class="filter-controls">
            <label for="fabric">Фабрика:</label>
            <select id="fabric" onchange="updateFilters()">
                <option value="">Все</option>
                <option value="KD" th:selected="${fabric == 'KD'}">Краснодеревщик</option>
                <option value="SOFIA" th:selected="${fabric == 'SOFIA'}">Sofia</option>
            </select>
            <label for="facing">Облицовка:</label>
            <select id="facing" onchange="updateFilters()">
                <option value="">Все</option>
                <option value="VENEER" th:selected="${facing == 'VENEER'}">Шпон</option>
                <option value="ENAMEL" th:selected="${facing == 'ENAMEL'}">Эмаль</option>
                <option value="SPL" th:selected="${facing == 'SPL'}">SPL</option>
                <option value="METAL" th:selected="${facing == 'METAL'}">Метал</option>
                <option value="CORTEX" th:selected="${facing == 'CORTEX'}">Кортекс</option>
                <option value="PLASTIC" th:selected="${facing == 'PLASTIC'}">Пластик</option>
                <option value="LAMINATE" th:selected="${facing == 'LAMINATE'}">Ламинатин</option>
                <option value="ECO_VENEER" th:selected="${facing == 'ECO_VENEER'}">Эко-шпон</option>
                <option value="MDF_PANEL" th:selected="${facing == 'MDF_PANEL'}">Мдф-панель</option>
            </select>
            <label for="filling">Наполнение:</label>
            <select id="filling" onchange="updateFilters()">
                <option value="">Все</option>
                <option value="SOLID_PINE" th:selected="${filling == 'SOLID_PINE'}">Массив сосны</option>
                <option value="METAL" th:selected="${filling == 'METAL'}">Метал</option>
                <option value="MDF" th:selected="${filling == 'MDF'}">Мдф</option>
                <option value="SOLID_OAK" th:selected="${filling == 'SOLID_OAK'}">Массив дуба</option>
                <option value="LVL_TIMBER" th:selected="${filling == 'LVL_TIMBER'}">LVL-брус</option>
                <option value="NONE" th:selected="${filling == 'NONE'}">Нет наполнения</option>
            </select>
            <label for="moldingType">Тип:</label>
            <select id="moldingType" onchange="updateFilters()">
                <option value="">Все</option>
                <option value="TELESCOPIC" th:selected="${moldingType == 'TELESCOPIC'}">Телескопический</option>
                <option value="FLAT" th:selected="${moldingType == 'FLAT'}">Плоский</option>
            </select>
            <label for="sort">Сортировать по:</label>
            <select id="sort" onchange="updateSort()">
                <option value="name,asc" th:selected="${sortBy == 'name' and order == 'asc'}">Имя (А-Я)</option>
                <option value="name,desc" th:selected="${sortBy == 'name' and order == 'desc'}">Имя (Я-А)</option>
                <option value="price,asc" th:selected="${sortBy == 'price' and order == 'asc'}">Цена (возрастание)</option>
                <option value="price,desc" th:selected="${sortBy == 'price' and order == 'desc'}">Цена (убывание)</option>
                <option value="fabric,asc" th:selected="${sortBy == 'fabric' and order == 'asc'}">Фабрика (А-Я)</option>
                <option value="fabric,desc" th:selected="${sortBy == 'fabric' and order == 'desc'}">Фабрика (Я-А)</option>
            </select>
        </div>
        <div class="product-grid">
            <th:block th:each="jamb : ${jambs}">
                <div class="product-card">
                    <img th:src="@{${jamb.imagePath}}" alt="Product Image" class="product-image">
                    <h2 th:text="${jamb.name}">Product Name</h2>
                    <p th:text="${jamb.price} + ' ₽'">Price</p>
                    <a th:href="@{jambs/{id}(id=${jamb.uuid})}" class="product-link">Подробнее</a>
                </div>
            </th:block>
        </div>
        <div class="separator-with-shadow">
            <div class="separator-with-shadow-box"></div>
        </div>
    </div>
    <script>
        function updateFilters() {
            const fabricSelect = document.getElementById("fabric");
            const facingSelect = document.getElementById("facing");
            const fillingSelect = document.getElementById("filling");
            const moldingTypeSelect = document.getElementById("moldingType");
            const sortSelect = document.getElementById("sort");
            const selectedSortOption = sortSelect.value;
            const [sortBy, order] = selectedSortOption.split(",");

            const url = new URL(window.location.href);
            url.searchParams.set("fabric", fabricSelect.value);
            url.searchParams.set("facing", facingSelect.value);
            url.searchParams.set("filling", fillingSelect.value);
            url.searchParams.set("moldingType", moldingTypeSelect.value);
            url.searchParams.set("sortBy", sortBy);
            url.searchParams.set("order", order);
            window.location.href = url.toString();
        }

        function updateSort() {
            updateFilters();
        }
    </script>
</th:block>
</html>