<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}" lang="ru">

<head>
    <title layout:fragment="title" th:text="${handle.name}">Детали продукта</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<th:block layout:fragment="content">
    <div class="product-detail-container">
        <div class="product-detail">
            <img th:src="@{${handle.imagePath}}" alt="Product Image" class="product-detail-image">
            <div class="product-info">
                <h1 th:text="${handle.name}">Название продукта</h1>

                <b th:text="'Описание:'"></b>
                <p th:text="${handle.description}"></p>
                <hr>
                <br>
                <b th:text="'Фабрика: '"></b>
                <q th:text="${handle.fabric.getRusName()}"></q>

                <br>
                <b th:text="'Наполнение: '"></b>
                <comment th:text="${handle.filling.getRusName()}"></comment>

                <br>
                <b th:text="'Покрытие: '"></b>
                <comment th:text="${handle.coating.getRusName()}"></comment>

                <br>
                <b th:text="'Толщина метала: '"></b>
                <comment th:text="${handle.metal.getRusName()}"></comment>

                <br>
                <b th:text="'Ширина: '"></b>
                <comment th:text="${handle.getWidth()}"></comment>

                <br>
                <b th:text="'Высота: '"></b>
                <comment th:text="${handle.getHeight()}"></comment>

                <br>
                <b th:text="'Толщина: '"></b>
                <comment th:text="${handle.getDepth()}"></comment>

                <br>
                <b th:text="'Сторонность: '"></b>
                <comment th:text="${handle.getSide().getRusName()}"></comment>

                <p class="price" th:text="${handle.price} + ' ₽'">Цена</p>
                <br>
                <div class="action-buttons">
                    <a href="#" class="buy-button">Добавить в корзину</a>
                    <a href="#" class="favorite-button"><i class="fas fa-heart"></i></a>
                </div>

                <a th:href="@{/furniture/handles}" class="back-link">← Вернуться к списку</a>
            </div>
        </div>
    </div>
</th:block>

</html>